/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.fluid{
	//background-color: rgb(221, 35, 35);
}

table td:first-child {
	width: 100px;
}

table td:nth-child(3) {
	width: 150px;
}

body{
	font-family: 'Roboto Condensed', sans-serif;
	background-image: url(image-path('bg.jpg'));
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


h1, h3{
	font-family: 'Aref Ruqaa', serif !important;
}

h3{
	margin-top: -5px !important;
}

.red{
	color: rgb(255, 0, 23);
	font-size: 20px;
}

.progress{
	max-width: 180px !important;
}

.bases{
	padding-bottom: 10px;
}

.top{
	margin-top: 20px;
	margin-bottom: 20px;
}

.br-20{
		border-radius: 40px;
	}

.img-responsive{
  width: 100%;
  max-width: 300px !important;
  height: auto;
}

.post{
	background-image: url(image-path('post.png'));
	background-size: 100% 100%;
	height: 200px;
}

.premios{
	font-size: 18px;
	
}
